sudo: required
dist: xenial

matrix:
  include:
  - name: "Linting"
    language: generic
    script:
      - >
        docker run --rm --env MUJOCO_KEY=${MUJOCO_KEY} \
                   humancompatibleai/adversarial_policies:$TRAVIS_BUILD_NUMBER \
                   /bin/bash -c "env=modelfree . ./ci/prepare_env.sh && ci/code_checks.sh"

  - name: "APRL Unit Tests"
    language: generic
    env: TEST_SUITE=aprl DOCKER_PUSH=true NUM_CPUS=1

  - name: "Model-free Unit Tests"
    language: generic
    env: TEST_SUITE=modelfree NUM_CPUS=1

services:
  - docker
before_install:
  - docker pull humancompatibleai/adversarial_policies:latest
  - >
    docker build --cache-from humancompatibleai/adversarial_policies \
                 -t humancompatibleai/adversarial_policies:$TRAVIS_BUILD_NUMBER .
script:
  - ci_env=`bash <(curl -s https://codecov.io/env)`
  - >
    docker run --rm --env MUJOCO_KEY=${MUJOCO_KEY} ${ci_env} \
                humancompatibleai/adversarial_policies:$TRAVIS_BUILD_NUMBER \
                ci/run_tests.sh ${TEST_SUITE} ${NUM_CPUS}
after_success:
      - |
        if [ "$TRAVIS_BRANCH" == "master" ] && [ "$TRAVIS_PULL_REQUEST" == "false" ] \
           && [ "$DOCKER_PUSH" == "true" ]; then
          echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
          sudo docker tag humancompatibleai/adversarial_policies:$TRAVIS_BUILD_NUMBER \
                          humancompatibleai/adversarial_policies:latest
          docker push humancompatibleai/adversarial_policies
        fi
