numpy>=1.15
pandas>=0.24.1
Theano>=1.0
pytest>=4.1
codecov>=2.0.15
pytest-cov>=2.6.1
flake8>=3.7
isort>=4.3
sacred>=0.7.4
GitPython>=2.1
git+git://github.com/HumanCompatibleAI/baselines.git@8978e3#egg=baselines
git+git://github.com/HumanCompatibleAI/baselines.git@38d5f8#egg=stable-baselines
git+git://github.com/HumanCompatibleAI/ilqr.git#egg=ilqr
ray[debug]>=0.6.4
boto3>=1.9
awscli>=1.16
sklearn>=0.0
