numpy>=1.15
pandas>=0.24.1
scikit-learn>=0.20.3
Pillow>=6.0.0
matplotlib>=3.0.3
Theano>=1.0
sacred>=0.7.5
pymongo>=3.8.0
GitPython>=2.1
git+git://github.com/HumanCompatibleAI/baselines.git@8978e3#egg=baselines
git+git://github.com/HumanCompatibleAI/baselines.git@906d83#egg=stable-baselines
ray[debug]>=0.7.0
boto3>=1.9
awscli>=1.16
pytest>=4.1
codecov>=2.0.15
pytest-cov>=2.6.1
flake8>=3.7
isort>=4.3
statsmodels>=0.9.0
seaborn>=0.9.0
