version: 2.1

orbs:
  codecov: codecov/codecov@1.0.5

executors:
  my-executor:
    docker:
      - image: humancompatibleai/adversarial_policies:base
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    working_directory: /adversarial-policies
    environment:
      # If you change these, also change scripts/code_checks.sh
      SRC_FILES: src/ tests/ setup.py
      TYPECHECK_FILES: src/ tests/ setup.py

commands:
  dependencies:
    # You must still manually update the Docker image if any
    # binary (non-Python) dependencies change.
    description: "Check out and update Python dependencies."
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "requirements-build.txt" }}-{{ checksum "requirements.txt" }}-{{ checksum "requirements-dev.txt" }}

      - run:
          name: install dependencies
          # MUJOCO_KEY is defined in a CircleCI context
          # Do some sanity checks to make sure key works
          command: |
            curl -o /root/.mujoco/mjkey.txt ${MUJOCO_KEY}
            md5sum /root/.mujoco/mjkey.txt
            # Only create venv if it's not been restored from cache
            [[ -d /venv ]] || USE_MPI=True ./ci/build_venv.sh /venv
            python -c "import mujoco_py"

      - save_cache:
          paths:
            - /venv
          key: v2-dependencies-{{ checksum "requirements-build.txt" }}-{{ checksum "requirements.txt" }}-{{ checksum "requirements-dev.txt" }}

      - run:
          name: install adversarial-policies
          # Build a wheel then install to avoid copying whole directory (pip issue #2195)
          command: |
            python setup.py sdist bdist_wheel
            pip install --upgrade --force-reinstall dist/aprl-*.whl

jobs:
  lintandtype:
    executor: my-executor

    steps:
      - dependencies
      - run:
          name: flake8
          command: flake8 ${SRC_FILES}

      - run:
          name: black
          command: black --check ${SRC_FILES}

      - run:
          name: codespell
          command: codespell -I .codespell.skip --skip='*.pyc,*.pkl,*.npz' ${SRC_FILES}

      - run:
          name: pytype
          command: pytype ${TYPECHECK_FILES}

  unit-test:
    executor: my-executor
    parallelism: 3
    steps:
      - dependencies

      - run:
          name: Memory Monitor
          command: |
            mkdir /tmp/resource-usage
            export FILE=/tmp/resource-usage/memory.txt
            while true; do
              ps -u root eo pid,%cpu,%mem,args,uname --sort=-%mem >> $FILE
              echo "----------" >> $FILE
              sleep 1
            done
          background: true

      - run:
          name: Headless X Server
          command: nohup Xdummy
          background: true

      - run:
          name: run tests
          command: |
            export DISPLAY=:0
            pytest --cov=/venv/lib/python3.7/site-packages/aprl --cov=tests \
                   --junitxml=/tmp/test-reports/junit.xml \
                   --shard-id=${CIRCLE_NODE_INDEX} --num-shards=${CIRCLE_NODE_TOTAL} \
                    -vv tests/
            mv .coverage .coverage.aprl
            coverage combine  # rewrite paths from virtualenv to src/
      - codecov/upload

      - store_artifacts:
          path: /tmp/test-reports
          destination: test-reports
      - store_test_results:
          path: /tmp/test-reports
          unit-test:
      - store_artifacts:
          path: /tmp/resource-usage
          destination: resource-usage

workflows:
  version: 2
  test:
    jobs:
      - lintandtype:
          context:
          - MuJoCo
          - docker-hub-creds
      - unit-test:
          context:
          - MuJoCo
          - docker-hub-creds
